name: Test-Notebooks

# Run every time a new commit is pushed
on: push

jobs:
  # Set the job key
  test-notebooks:
    # Name the job
    name: Test Jupyter Notebooks
    # Set the type of machine to run on
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]

    steps:
    # Checkout
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    # Setup
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    # Restore
    - name: Restore pip cache
      uses: actions/cache@v2
      with:
        # This path is specific to Ubuntu
        path: ~/.cache/pip
        # Look to see if there is a cache hit for the corresponding requirements file
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-
    # Install
    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Execute all Notebooks
      shell: bash -l {0}
      run: |
        conda activate jupyter-actions
        pytest
